Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.code-workspace
Makefile
.DS_Store

!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico
